# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo
*.vs
# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.Game\x64

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Game/x64/Debug/Game.tlog/Cl.items.tlog
*.tlog
Game/x64/Debug/Game.tlog/CL.command.1.tlog
.vs/Game/FileContentIndex/055e794c-3926-4646-9995-33c3f1bbd8f5.vsidx
.vs/Game/FileContentIndex/055e794c-3926-4646-9995-33c3f1bbd8f5.vsidx
/.vs
/.vs/Game
/Game/x64/Debug/Game.tlog
/Game/x64/Debug
/Game/x64/Debug
/Game/x64/Debug/Game.tlog
/Game/x64
*.tlog
/.vs
*.tlog
Game/x64/Debug/Game.tlog/CL.read.1.tlog
/.vs
/.vs
*.log
/Game/x64
